<div class="collection{% if section.settings.filter_type != 'vertical' %} container{% endif %}">
    <div class="loading-overlay gradient"></div>


    {% comment %} {% unless lazy_load == false %}
        loading="lazy"
      {% endunless %} {% endcomment %}

    <div class="row">

      {%- for product in collection.products -%} 
        {% assign lazy_load = false %}
        {%- if forloop.index > 2 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}
        {% comment %} <li class="grid__item">
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            lazy_load: lazy_load,
            show_quick_add: section.settings.enable_quick_add,
            section_id: section.id
          %}
        </li> {% endcomment %}
        <div class="col-lg-4 col-sm-6">
            <a href="shop-details.html" class="ot-product style2  wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-img">
                    {{ product.featured_image.src | image_url: width: 350 | image_tag:
                        loading: 'lazy',
                        height: height,
                  
                        widths: '250, 350,'
                      }}
                </div>
                <div class="product-content">
                    <p class="subtitle">{{product.vendor}}</p>
                    <h3 class="product-title">{{ product.title }}</h3>
                    <p class="price">{{ product.price | money }}</p>
                </div>
            </a>
        </div>
      {%- endfor -%}
        
    </div>

    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate, anchor: '' %}
    {%- endif -%}
  </div>