<div class="section-collection-refresh section-{{ section.id }}-padding">
    <div class="container">
        {%- paginate collection.products by 12 -%}
            <ul id="product-grid" data-id="{{ section.id }}" class="
                grid product-grid grid--2-col-tablet-down
                grid--4-col-desktop">
                {%- for product in collection.products limit: 12 -%}
                    {% assign lazy_load = false %}
                    {%- if forloop.index > 2 -%}
                        {%- assign lazy_load = true -%}
                    {%- endif -%}

                    {% assign count = 1 %}
                    {% if forloop.index < 5 and forloop.index > 1 %}
                        {% assign count = 0.2 %}
                    {% endif %}

                    <li class="grid__item product-item  wow fadeInUp" data-wow-delay="{{ forloop.index | times: 0.1 | plus: count }}s">
                        {% render 'product-grid-minimal',
                            card_product: product
                        %}
                    </li>
                {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
                {% render 'paginate-refresh', paginate: paginate, remove_link: true %}
            {%- endif -%}
        {% endpaginate %}
    </div>
</div>

{% schema %}
  {
    "name": "Collection Refresh",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        }
    ],
    "presets": [
      {
        "category": "text",
        "name": "Collection Refresh",
        "settings": {}
      }
    ]
  }
{% endschema %}
