<div class="section-collection-refresh section-{{ section.id }}-padding
    <div class="block-marquee">
        <ul id="product-grid" data-id="{{ section.id }}" class="
            grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
            grid--{{ section.settings.columns_desktop }}-col-desktop">
            {%- for product in collection.products -%}
              {% assign lazy_load = false %}
              {%- if forloop.index > 2 -%}
                {%- assign lazy_load = true -%}
              {%- endif -%}
              <li class="grid__item">
                {% include 'product-grid-item' %}
              </li>
            {%- endfor -%}
        </ul>
    </div>
</div>

{% schema %}
  {
    "name": "Collection Refresh",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        }
    ],
    "presets": [
      {
        "category": "text",
        "name": "Collection Refresh",
        "settings": {}
      }
    ]
  }
{% endschema %}
