    <!--======== / Hero Section ========-->
    <div class="d-none d-md-block">
        <!-- Notice Area -->
        <div class="notice-area">
            <div class="notice-scroll-wrap">
                <div class="notice-scroll">
                    <p class="offer-notice"><a href="shop-details.html">GET 20% OFF YOUR FIRST ORDER. 기간 한정 첫 구매 시 20% 할인.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">NEW ARRIVALS SS23 COLLECTION. SS23 신상품 입고.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">GET 20% OFF YOUR FIRST ORDER. 기간 한정.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">GET 20% OFF YOUR FIRST ORDER. 기간 한정 첫 구매 시 20% 할인.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">NEW ARRIVALS SS23 COLLECTION. SS23 신상품 입고.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">GET 20% OFF YOUR FIRST ORDER. 기간 한정.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">GET 20% OFF YOUR FIRST ORDER. 기간 한정 첫 구매 시 20% 할인.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">NEW ARRIVALS SS23 COLLECTION. SS23 신상품 입고.</a></p>
                    <p class="offer-notice"><a href="shop-details.html">GET 20% OFF YOUR FIRST ORDER. 기간 한정.</a></p>

                </div>
            </div>
        </div>
    </div>


    {% schema %}
    {
        "name": "Running Slide",
        "class": "Running_Slide",
        "presets": [
            {
              "name": "Running Slide"
            }
            ]
    }
{% endschema %}