.shopify-policy__title h1 {
  padding-top: 15px;
  font-size: 14px !important;
}

.shopify-policy__container {
  max-width: 120ch !important;
}

.product-form__submit {
  background-color: var(--theme-color);
  color: #fff;
  text-transform: uppercase;
  outline: 0;
  border: 0;
}

.price__badge-sold-out {
  text-transform: uppercase;
}